# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @adobe-commerce/ds-lighthouse will be the owners of all releases.

*   @adobe-commerce/ds-lighthouse