engine-strict=true

@spectrum:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-spectrum-release/
//artifactory.corp.adobe.com:443/artifactory/api/npm/npm-spectrum-release/:always-auth=true

@react:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-react-release/
//artifactory.corp.adobe.com:443/artifactory/api/npm/npm-react-release/:always-auth=false

@adobe/react-spectrum-:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npmjs-local/
//artifactory.corp.adobe.com:443/artifactory/api/npm/npmjs-local/:always-auth=false

always-auth=false
@exc:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release-local/

registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-adobe-release/
