/* https://cssguidelin.es/#bem-like-naming */
.ds-sdk-product-list .franchises h2 {
  font-size: var(--heading-font-size-l);
  font-family: var(--ff-gt-america-expanded-bold);
  margin-bottom: 0;
}

.ds-sdk-product-list .franchises {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #DDDDDD;
}

.ds-sdk-product-list .franchises button {
  border: 1px solid #DDDDDD;
  display: block;
  margin: 25px auto auto;
}

.ds-sdk-product-list .franchises .franchise-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.ds-sdk-product-list .franchises .franchise-header a {
  text-decoration: underline;
}


@media only screen and (max-width: 768px) {
  .ds-sdk-product-list .franchises .franchise-header {
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
  }

  .ds-sdk-product-list .franchises h2 {
    margin-bottom: 10px;
  }
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) { } */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) { } */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) { } */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) { } */
