/* https://cssguidelin.es/#bem-like-naming */
.sfsdk-product-list {
}

.livesearch-plp .ds-widgets .ds-sdk-product-list__grid {
    column-gap: 1.25rem;
    row-gap: 2rem;
}

.livesearch-plp {
    margin: 0 auto;
    max-width: 90%;
    padding-left: 15px;
    padding-right: 15px;
}

.livesearch-plp .ds-widgets .ds-sdk-product-list__grid .ds-sdk-product-item > div:last-child {
    align-self: flex-start;
}

.livesearch-plp .ds-widgets .ds-sdk-product-list {
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
}


[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

[type=checkbox]:checked:focus, [type=checkbox]:checked:hover, [type=checkbox]:indeterminate {
    background: none;
}

[type=checkbox]:checked {
    background: none;
}

.ds-sdk-labelled-input input::before {
    background-color: #fff;
    border: 2px solid #904745;
    border-radius: 5px;
    content: "";
    display: block;
    left: 10px;
    position: absolute;
    width: 19px;
    height: 19px;

}

.ds-sdk-labelled-input input:checked::before {
    background-color: #904745;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) { } */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) { } */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) { } */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) { } */
