.promo-tile a img {
  border-radius: 1rem;
}

@media (min-width: 769px), print {
  .pagebuilder-mobile-only {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .pagebuilder-mobile-hidden {
    display: none !important;
  }
}
