.franchise-selector button:not([disabled]) svg {
  fill: #dddddd;
}

.franchise-selector button:hover svg {
  opacity: 0.6;
}

.franchise-selector button[disabled] {
  border-bottom: 2px solid black;
}

.franchise-selector {
  align-items: start;
  float: right
}

.mobile-filters-container{
  z-index: 900;
}

.mobile-filters-container{
  h1 {
    font-size: var(--font-2xl);
    margin-bottom: 2rem;
  }
}

.mobile-filters-container{
  .animate-slideUp {
    padding-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  .mobile-filters-container {
    .md\:animate-slideRight {
      max-width: 500px;
    }
  }
}

.mobile-filters-container .apply-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  background: rgba(255,255,255,0.25);
}

.mobile-filters-container form .ds-sdk-input > label::after {
  content: '+';
  display: inline-block;
  margin-left: auto;
  margin-right: 10px;
  font-size: 20px;
  line-height: 12px;
}

.mobile-filters-container form .ds-sdk-input.active > label::after {
  content: '-';
}

@media (min-width: 768px) {
  .mobile-filters-container .apply-buttons {
    max-width: 485px;
  }
}

.mobile-filters-container .apply-buttons .apply-buttons_button {
  flex: 1 1 0;
  border: 1px solid #000;
  display: grid;
  width: 100%;
  align-content: center;
  height: 4rem;
  background-color: #fff;
}

.mobile-filters-container .apply-buttons .apply-buttons_button--view {
  background-color: #000;
  color: #fff;
}

.ds-plp-facets__pills .ds-sdk-pill {
  padding: .5rem 1rem;
}

.ds-plp-facets__pills .ds-sdk-pill__cta svg {
  position: relative;
  top: -3px
}

@media (min-width: 768px) {
  .grid-setting {
    flex: 1 0 100%;
  }
}

@media (max-width: 768px) {
  .franchise-selector {
    float: none;
    align-self: end;
    padding-right: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.ds-sdk-input:after {
  content: '';
  display: block;

}
